#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl-common.h>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

// STM32_PINMUX takes in (port, line, mode)
// pinctrl only needs to define the pins using alternate functions (alternate from GPIOs) or have different electrical behavior from the default GPIO
&pinctrl {
    i2c1_default: i2c1_default {
        pinmux = <STM32_PINMUX('B', 6, AF4)
                 STM32_PINMUX('B', 7, AF4)>;
        drive-open-drain;
        bias-pull-up;
    };
    // cs pin will go in the gpios
    spi1_default: spi1_default {
        group1 {
            pinmux = <STM32_PINMUX('A', 5, AF5)
                     STM32_PINMUX('A', 7, AF5)>;
            drive-push-pull;
            bias-disable;
        };
        group2 {
            pinmux = <STM32_PINMUX('A', 6, AF5)>; /* MISO */
            bias-disable; /* when would this be bias-pullup? */
        };
    };

    usart1_default: usart1_default {
        group1 {
            pinmux = <STM32_PINMUX('A', 9, AF7)
                     STM32_PINMUX('A', 10, AF7)>;
            bias-disable;
        };
    };
};