/ {
    aliases {
        i2c = &i2c1;
    };
};
// could put an address here in the name after '@' but don't need to because we are just adding to the existing i2c reference
// something like 'i2c@40005400' is the base address for the i2c register map
&i2c1 {
    status = "okay";
    // I think we can change this to 100,000 Hz
    // clock-frequency = <100000>;

    bme688: bme688@77 {
        compatible = "bosch,bme680";
        // slave address
        reg = <0x77>;
    };
};
